body,
html {
    padding: 2rem 3rem 0 3rem;
    box-shadow: 0px 32px 128px rgba(0, 0, 0, 0.5), 0px 16px 32px rgba(0, 0, 0, 0.34), 0px 8px 8px rgba(0, 0, 0, 0.25);
}

.subheader {
    background-color: #8055FF;
    height: 32px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
}
.filter {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
    padding: 0.5rem;
    border: 2px solid #A8A8FF;
    box-sizing: border-box;
}
.filter__components {
    display: flex;
}
.filter__text {
    width: 256px;
    background: #8055FF;
}
.filter__item {
    width: 32px;
    height: 32px;
    margin: 0 0.5rem;
    background: #8055FF;
}
.table {
    border: 2px solid #8055FF;
    box-sizing: border-box;
    margin: 2rem 0;
}
.table__wrapper {
    display: flex;
    flex-direction: column;
}
.table__header {
    height: 48px;
    background: #8055FF;
}
.table__body {
    height: 512px;
    background: #A8A8FF;
}
.table__footer {
    height: 48px;
    background: #8055FF;
}