:root {
  --purple: #8055FF;
  --blue: #459DF5;
  --light-blue: #BAD8F5;
}

.checkbox-block {
  max-width: 104px;
  max-height: 64px;
  border: 1px dashed var(--purple);
  border-radius: 5px;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.checkbox-block__checkbox {
  display:none;
}
.checkbox-block__checkbox + .checkbox-block__label {
  border: 1px solid var(--light-blue);
  display: block;
  width: 16px;
  height: 16px;
}
.checkbox-block__checkbox:checked + .checkbox-block__label{
  background: var(--blue); 
}