:root {
  --white: #FFFFFF;
  --purple: #8055FF;
  --blue: #459DF5;
  --light-blue: #BAD8F5;
}

.radio-block {
  max-width: 104px;
  max-height: 64px;
  border: 1px dashed var(--purple);
  border-radius: 5px;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.radio-block__radio {
  display:none;
}
.radio-block__radio + .radio-block__label {
  border: 1px solid var(--light-blue);
  border-radius:50%;
  display: block;
  width: 16px;
  height: 16px;
}
.radio-block__radio:checked + .radio-block__label {
  background: var(--blue); 
}
.radio-block__radio:checked + .radio-block__label:before {
  content: "";
  display: block;
  position: relative;
  width: 8px;
  height: 8px;
  left: calc(50% - 8px/2);
  top: calc(50% - 8px/2);
  border-radius: 50%;
  background: var(--white);
}