:root {
    --purple: #8055FF;
    --light-purple: #A8A8FF;
}

body,
html {
    padding: 2rem 3rem 0;
    
}

.subheader {
    background-color: var(--purple);
    height: 3rem;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2rem;
}
.filter {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
    padding: 0.5rem;
    border: 2px solid var(--light-purple);
    box-sizing: border-box;
}
.filter__components {
    display: flex;
}
.filter__text {
    max-width: 16rem;
    background: var(--purple);;
}
.filter__item {
    width: 2rem;
    height: 2rem;
    margin: 0 0.5rem;
    background: var(--purple);;
}
.table {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--purple);
    box-sizing: border-box;
}
.table__header {
    height: 3rem;
    background: var(--purple);
}
.table__body {
    height: 32rem;
    background: var(--light-purple);
}
.table__footer {
    height: 3rem;
    background: var(--purple);
}
@media (max-width: 480px) {
	.filter__text {
        max-width: 6rem;
    }
}